:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  background-image: url('../public/odin.webp');
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.circle{
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #747bff;
  background-image: url('../public/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 5px 5px gold;
  animation: rotate 10s  linear infinite;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
}
.nav{
  height: 70px;
  background: #000000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;

}
.float{
  float: right;
  font-size: 24px;
  margin-right: 15px;
}
.topT{
  color: #ffffff;
  margin-right: 15px;
}
.golden{
  color: #ffaa55;
}
.white{
  color: white;
}
.footer{
  height: 50px;
  background: #000000;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
bottom: 30;
}
.scale{
 animation:linear grow 1 ease-in-out ;
}
.btn{
  margin: 3px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 1px gold;
}
.btn:hover{
  background:  white;
  color: black;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@keyframes grow {
  0%{
    scale: 1;
  }
  50%{
    scale: 1.2;
  }
  100%{
    scale: 1;
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(90deg);

  }
  40%{
    transform: rotate(180deg);
  }
  60%{
    transform: rotate(270deg);
  }
  80%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}